@use '../../variables' as v;

.gpt__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 6rem;
}

.gpt__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.gpt__navbar-links_logo {
  margin-right: 2rem;

  img {
    width: 62px;
    height: 16px;
  }
}

.gpt__navbar-links_container {
  display: flex;
  flex-direction: row;

  p {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    cursor: pointer;
    margin: 0 1rem;
  }
}

.gpt__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  p {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    cursor: pointer;
    margin: 0 1rem;
  }

  button {
    background: #ff4820;
    padding: 0.7rem 1.5rem;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.gpt__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;

  svg {
    cursor: pointer;
  }
}

.gpt__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  text-align: end;
  background: v.$color-footer;
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);

  p {
    margin: 1rem 0;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    cursor: pointer;
    // margin: 0 1rem;
  }

  button {
    background: #ff4820;
    padding: 0.7rem 1.5rem;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

// .gpt__navbar-menu_container-links-sign {
//   display: none;
// }

@media screen and (max-width: 1050px) {
  .gpt__navbar-links_container {
    display: none;
  }

  .gpt__navbar-menu {
    display: flex;
  }

  .gpt__navbar-menu_container-links_sign {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .gpt__navbar {
    padding: 2rem 4rem;
  }

  .gpt__navbar-menu_container-links_sign {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .gpt__navbar {
    padding: 2rem;
  }

  .gpt__navbar-sign {
    display: none;
  }

  .gpt__navbar-menu_container {
    top: 20px;
  }

  .gpt__navbar-menu_container-links_sign {
    display: block;
  }
}
